PORT=8080
MONGODB_URI= 'Your MongoDB connection string'
JWT_SECRET= 'JsonWebToken secret for authentication'
superaccesskey= 'For accessing the crucial settings of the platform'
NODE_ENV= 'current environment in which your application is running'
email= 'Email to be used for sending mail upon successful registration'
pass= 'Password for the above email'

# Following are the envs for logging requests to google docs
# I have used 2 google docs - one for logging only the requests made by the user, second for also logging the static files requested during the process

documentId= 'Google doc id for the first document'
documentId2= 'Google doc id for the second document'
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_CERT_URL=
